<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nyumaya.audiorecognition">

    <application>
        <service
            android:name=".nyumaya_listener"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>